############################
# Backend (Spring Boot)
############################
event-ticket-backend/target/
event-ticket-backend/*.log

############################
# Frontend (UI)
############################
event-ticket-frontend/node_modules/
event-ticket-frontend/dist/
event-ticket-frontend/*.log

############################
# Docker
############################
docker-compose.override.yml
*.env
*.env.local
*.env.development
*.env.production
*.dockerignore

############################
# IDE / Editor
############################
.idea/
.vscode/
*.iml

############################
# OS Files
############################
.DS_Store
Thumbs.db
